.hero {
  background: url('images/header-image.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 0 0 150px 0; 

}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}


.offer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 60px 0;
}

.portfolio img,
.blog img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.stats {
  background: #f8f9fa;
  padding: 100px 50px;
}

.stats h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #a8d5a2;
}

.contact {
  background: #222;
  color: #fff;
  padding: 50px 0;
}

.contact input,
.contact textarea {
  background: #646464;
  border: none;
  color: white;
}
::placeholder {
  color: #ddd !important;
  opacity: 1 !important;
}

footer {
  background: #111;
  color: #aaa;
  padding: 20px 0;
}

.social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    color: black;
    font-size: 16px;
    border-radius: 50%;
    background: #fff;
    text-decoration: none;
    background-color: #a8d5a2;
}

@media (max-width: 768px) {
  .offer-images {
    height: 180px !important;
    width: 220px !important;
  }
  .offer-images img {
    width: 90px !important;
    left: 20px !important;
    top: unset !important;
    bottom: 0 !important;
  }
}